{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <img src="{% static 'img/404.png' %}" alt="404 not found" class="img-fluid">
    <script src="{% static 'js/index.js' %}"></script>
{% else %}
<h1>Login</h1>
    <form method="POST" id="form" >{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary save btn-default .ml-1">Iniciar</button>
            <a class="btn btn-warning .ml-1" href="{% url 'registro' %}">Registro</a>
    </form>

    <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-12 col-lg-5">
            <h2 class="featurette-heading">Es importante.</h2>
            <h4><span class="text-muted">No compartas tu informacion personal con nadie.</span></h4>
            <p class="lead text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum autem, consectetur minima voluptatem corporis harum, nisi vitae consequatur adipisci possimus atque et nesciunt quaerat sequi doloribus ut, cupiditate voluptatibus quam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam expedita sed voluptate quidem rerum reiciendis debitis, tempore culpa eligendi dolor voluptas? A maiores nemo aliquam cupiditate recusandae, illum saepe distinctio!</p>
        </div>
        <div class="col-md-12 col-lg-7">
            <img class="featurette-image img-fluid" alt="Imagen" src="https://www.c2enterprise.com/sites/default/files/ux-2_0.png">
        </div>
    </div>  
    

    <script src="{% static 'js/login.js' %}"></script>
{% endif %}
{% endblock %}